body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 화면 전체 높이 확보 */
    margin: 0;
    background-color: #F9FAFB; /* 배경색이 필요하다면 추가 */
}

main {
    /* main은 컨테이너를 감싸는 역할이므로 flex를 빼거나 가볍게 둡니다 */
    width: 100%;
    display: flex;
    justify-content: center;
}
.login_container {
    width: 30%;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_logo{
    width: 50%;
}

.login_form{
    display: flex;
    flex-direction: column; 
}
.login_text{
    font-size: 18px;
}
.login_input{
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    padding: 11.5px 23px;
    color: #F3F4F6;
    background-color: #F3F4F6;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.login_text{
    font-weight: 600;
    color: #1F2937;
    margin-bottom: 10px;
}

.login_button{
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    padding: 11.5px 23px;
    color: #FFFFFF;
    background-color: #9CA3AF;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.oauth{
    display: flex;
    background-color: #E6F2FF;
    border-radius: 10px;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}
.oauth_title{
    margin-left: 20px;
    color: #1f2937;
    font-size: 14px;
    font-weight: 500;
}
.oauth_icon_container{
    float: right;
}
.oauth_icon{
    margin-right: 10px;
    width: 42px;
    justify-content: center;
    align-items: center;
}
.sign-up{
    justify-content: center;
    align-items: center;
    width: 100%; /* 부모 너비 기준 꽉 채우기 */
    margin-top:20px;
}
.sign-up_text{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up_button{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    color: #3692FF;
    background-color: transparent;
    border: none;    
    justify-content: center;
    align-items: center;
    text-decoration: underline; /* 기본 밑줄 */
}