.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section {
  display: flex; /* 추가: Flexbox 레이아웃 적용 */
  justify-content: space-between; /* 양쪽 끝으로 요소 배치 */
  align-items: center; /* 추가: 세로 방향 중앙 정렬 */
  
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

.banner .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-size: 800px auto;
}

#hero .wrapper {
  background-image: url("../images/home/hero-image.png");
}

#bottomBanner .wrapper {
  background-image: url("../images/home/bottom-banner-image.png");
}

#features {
  padding-bottom: 138px;
}

#loginLinkButton {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
}

.banner .pill-button {
  margin-top: 32px;
}

.feature {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-content {
  flex: 1;
}

.feature-tag {
  color: #3692ff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 24px;
}